@{
    ViewBag.Title = "About";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <meta content="" name="keywords">



    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Home Scripts/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Home Scripts/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Home Scripts/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Home Scripts/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->

    <link href="~/Home Scripts/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: FlexStart - v1.9.0
    * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <i class="bi bi-list mobile-nav-toggle"></i>
</head>
<section id="features" class="features">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Features</h2>
            <p>Our Product features</p>
        </header>

        <div class="row">

            <div class="col-lg-6">
                <img src="~/Home Scripts/assets/img/features.png" class="img-fluid" alt="" style="height:319px;width:500px">
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                <div class="row align-self-center gy-4">

                    <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Take it with you anywhere</h3>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Very Cool</h3>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Easy To Use</h3>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Confortable</h3>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Designed For You</h3>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Helps you to manage your time</h3>
                        </div>
                    </div>

                </div>
            </div>

        </div> <!-- / row -->
        <!-- Feature Tabs -->

    </div>

</section>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="~/Home Scripts/assets/vendor/purecounter/purecounter.js"></script>
<script src="~/Home Scripts/assets/vendor/aos/aos.js"></script>
<script src="~/Home Scripts/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Home Scripts/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/Home Scripts/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/Home Scripts/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/Home Scripts/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/Home Scripts/assets/js/main.js"></script>
